*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.5;
  font-family:
    Paragon,
    Iowan Old Style,
    Apple Garamond,
    Baskerville,
    Times New Roman,
    Droid Serif,
    Times,
    Source Serif Pro,
    serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Centaury Display';
  src: url('./fonts/centaury/Centaury Display.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FC;
}

@font-face {
  font-family: 'Centaury Display';
  src: url('./fonts/centaury/Centaury Display Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-00FC;
}

@font-face {
  font-family: 'Centaury';
  src: url('./fonts/centaury/Centaury Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-00FC;
}

@font-face {
  font-family: 'Centaury';
  src: url('./fonts/centaury/Centaury Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FC;
}

@font-face {
  font-family: 'Paragon';
  src: url('./fonts/paragon/paragon-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Paragon';
  src: url('./fonts/paragon/paragonitalic-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
